#titleArea
{
    background-image: url("../image/WeatherPics/Hurricane1.jpg");
}

#linkHome a
{
    color: #000000;
}

#passwordArea
{
    width: 500px;
    padding-top: 10px;
}


#tblPassword td
{
    padding-left: 20px;
    padding-right: 20px;
}

#tblPassword th
{
    font-size: 100%;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center;
}

