*.iml
*.ipr
*.iws
.idea/
target/
WDE/nbproject/project.xml
WDE/manifest.mf
WDE/nbbuild.xml
WDE/nbproject/build-impl.xml
WDE/nbproject/genfiles.properties
WDE/nbproject/private/config.properties
WDE/nbproject/private/private.properties
WDE/nbproject/private/private.xml
WDE/nbproject/project.properties
