<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	      version="3.0">

  
    <display-name>WXDE</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>


    <servlet>
        <servlet-name>ExtStarter</servlet-name>
        <servlet-class>wde.cs.ext.ExtStarter</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>ExtStarter</servlet-name>
        <url-pattern>/ExtStarter</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>QedsMgr</servlet-name>
        <servlet-class>wde.qeds.QedsMgr</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>QedsMgr</servlet-name>
        <url-pattern>/QedsMgr</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ListObsTypes</servlet-name>
        <servlet-class>wde.qeds.ListObsTypes</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>ListObsTypes</servlet-name>
        <url-pattern>/ListObsTypes</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>GetPlatformsForRegion</servlet-name>
        <servlet-class>wde.qeds.GetPlatformsForRegion</servlet-class>

        <init-param>
            <description>
                OPTIONAL: Turns debug mode on and off, debug mode outputs all stations regardless of distribution group
            </description>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>

        <load-on-startup>3</load-on-startup>
    </servlet>


    <servlet-mapping>
        <servlet-name>GetPlatformsForRegion</servlet-name>
        <url-pattern>/GetPlatformsForRegion</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ApplicationInterfaceServlet</servlet-name>
        <servlet-class>wde.qeds.ApplicationInterfaceServlet</servlet-class>
        <load-on-startup>4</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>ApplicationInterfaceServlet</servlet-name>
        <url-pattern>/downloadSubscription</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>DataTime</servlet-name>
        <servlet-class>wde.ws.EmdssDataTime</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DataTime</servlet-name>
        <url-pattern>/datatime</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>DistrictAlerts</servlet-name>
        <servlet-class>wde.ws.EmdssAlerts</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DistrictAlerts</servlet-name>
        <url-pattern>/district_alerts</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>LatestVehicles</servlet-name>
        <servlet-class>wde.ws.EmdssVehicles</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LatestVehicles</servlet-name>
        <url-pattern>/latest_vehicles</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Plots</servlet-name>
        <servlet-class>wde.ws.EmdssPlots</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Plots</servlet-name>
        <url-pattern>/plots</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ServletAdaptor</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <load-on-startup>5</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletAdaptor</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>


  <servlet>
    <servlet-name>AltitudeLookup</servlet-name>
    <servlet-class>wde.cs.ext.NED</servlet-class>
    <init-param>
      <param-name>dir</param-name>
      <param-value>/opt/NED/</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>AltitudeLookup</servlet-name>
    <url-pattern>/elev/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RwisLayerServlet</servlet-name>
    <servlet-class>wde.ws.RwisLayerServlet</servlet-class>
    <init-param>
      <param-name>contribCondition</param-name>
      <param-value><![CDATA[<>4]]></param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>RwisLayerServlet</servlet-name>
    <url-pattern>/RwisLayer/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AsosLayerServlet</servlet-name>
    <servlet-class>wde.ws.RwisLayerServlet</servlet-class>
    <init-param>
      <param-name>contribCondition</param-name>
      <param-value>=4</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>AsosLayerServlet</servlet-name>
    <url-pattern>/AsosLayer/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RwisMetadataServlet</servlet-name>
    <servlet-class>wde.ws.RwisMetadataServlet</servlet-class>
    <init-param>
      <param-name>contribCondition</param-name>
      <param-value><![CDATA[<>4]]></param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>RwisMetadataServlet</servlet-name>
    <url-pattern>/RwisMetaDataLayer/*</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AsosMetaDataServlet</servlet-name>
    <servlet-class>wde.ws.RwisMetadataServlet</servlet-class>
    <init-param>
      <param-name>contribCondition</param-name>
      <param-value>=4</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>AsosMetaDataServlet</servlet-name>
    <url-pattern>/AsosMetaDataLayer/*</url-pattern>
  </servlet-mapping>


    <resource-ref>
        <description>wxde</description>
        <res-ref-name>jdbc/wxde</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>

    <security-role>
        <role-name>wde_admin</role-name>
    </security-role>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>wxde</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
            <url-pattern>/resources/admin/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>wde_admin</role-name>
        </auth-constraint>
    </security-constraint>

    <security-role>
        <role-name>wde_user</role-name>
    </security-role>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>wxde</web-resource-name>
            <url-pattern>/auth2/*</url-pattern>
            <url-pattern>/resources/auth2/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>wde_admin</role-name>
            <role-name>wde_user</role-name>
        </auth-constraint>
    </security-constraint>

    <security-role>
        <role-name>wde_limited</role-name>
    </security-role>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>wxde</web-resource-name>
            <url-pattern>/auth/*</url-pattern>
            <url-pattern>/resources/auth/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>wde_admin</role-name>
            <role-name>wde_user</role-name>
            <role-name>wde_limited</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/userLogin.jsp</form-login-page>
            <form-error-page>/userLoginFailed.jsp</form-error-page>
        </form-login-config>
    </login-config>

    <error-page>
        <error-code>404</error-code>
        <location>/error/404.jsp</location>
    </error-page>

    <error-page>
      <exception-type>java.lang.Throwable</exception-type>
      <location>/error/500.jsp</location>
    </error-page>
    
    <filter>
      <filter-name>CachControl</filter-name>
      <filter-class>wde.security.filters.CacheControlFilter</filter-class>
      <init-param>
        <param-name>disableCache</param-name>
        <param-value>true</param-value>
      </init-param>
    </filter>
    <filter-mapping>
      <filter-name>CachControl</filter-name>
      <url-pattern>*.jsp</url-pattern>
      <url-pattern>/resources/*</url-pattern>
      <dispatcher>REQUEST</dispatcher>
      <dispatcher>FORWARD</dispatcher>
    </filter-mapping>

    <filter>
      <filter-name>RefererValidationFilter</filter-name>
      <filter-class>wde.security.filters.RefererValidationFilter</filter-class>
    <init-param>
      <param-name>entryPoints</param-name>
      <param-value>/index.jsp,/downloadSubscription,/wdeMap.jsp,/maw.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>allowedReferersPattern</param-name>
            <param-value>^(?:(?:http|https)://)?(?:localhost|68\.70\.88\.87|99\.198\.128\.113|testwxde\.data-env\.com|wxde\.fhwa\.dot\.gov)(?::[0-9]{1,5})?.*$</param-value>
    </init-param>
    <init-param>
      <param-name>allowMissingReferer</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>rejectRedirectUrl</param-name>
      <param-value>/</param-value>
    </init-param>
  </filter>
  
  <filter-mapping>
    <filter-name>RefererValidationFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
    <url-pattern>/auth2/*</url-pattern>
    <url-pattern>/admin/*</url-pattern>
    <url-pattern>/resources/*</url-pattern>
    <url-pattern>/auth/*</url-pattern>
  </filter-mapping>

    <filter>
      <filter-name>httpHeaderSecurity</filter-name>
      <filter-class>wde.security.filters.HttpHeaderSecurityFilter</filter-class>
      <init-param>
        <param-name>hstsEnabled</param-name>
        <param-value>true</param-value>
      </init-param>
      <init-param>
        <param-name>hstsMaxAgeSeconds</param-name>
        <param-value>31536000</param-value>
      </init-param>
      <init-param>
        <param-name>hstsIncludeSubDomains</param-name>
        <param-value>true</param-value>
      </init-param>      
      <init-param>
        <param-name>antiClickJackingEnabled</param-name>
        <param-value>true</param-value>
      </init-param>     
      <init-param>
        <param-name>antiClickJackingOption</param-name>
        <param-value>DENY</param-value>
      </init-param>  
      <init-param>
        <param-name>blockContentTypeSniffingEnabled</param-name>
        <param-value>true</param-value>
      </init-param>  
      <init-param>
        <param-name>xssProtectionEnabled</param-name>
        <param-value>true</param-value>
      </init-param>
      <init-param>
        <param-name>contentSecurityEnabled</param-name>
        <param-value>true</param-value>
      </init-param>
      <init-param>
        <param-name>contentSecurityHeaderValue</param-name>
        <param-value>frame-ancestors 'self'; default-src http://fonts.gstatic.com ; script-src http://www.google-analytics.com ajax.googleapis.com maps.googleapis.com http://gmaps-utility-gis.googlecode.com http://api.imapbuilder.net maps.google.com code.jquery.com 'self' 'unsafe-eval'  'unsafe-inline'; style-src 'self'  'unsafe-inline' fonts.googleapis.com; img-src localhost *.openstreetmap.org *.mqcdn.com https://maps.gstatic.com https://csi.gstatic.com https://maps.google.com http://www.google-analytics.com 'self' data:; connect-src 'self'</param-value>
      </init-param>
    </filter>
    <filter-mapping>
      <filter-name>httpHeaderSecurity</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>
    
  <filter>
    <filter-name>CsrfFilter</filter-name>
    <filter-class>org.apache.catalina.filters.CsrfPreventionFilter</filter-class>
    <init-param>
      <param-name>entryPoints</param-name>
      <param-value>/auth/j_security_check,/auth/loginRedirect.jsp,/userLogin.jsp,/userLoginFailed.jsp,/index.jsp,/downloadSubscription,/userAccountRetrieval.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>nonceCacheSize</param-name>
      <param-value>20</param-value> 
    </init-param>
  </filter>
  
  <!--  The filter will only be able to insert tokens in links on a page
        if is mapped, so we need to make sure all JSPs go through the filter  -->
  <filter-mapping>
    <filter-name>CsrfFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
    <url-pattern>/auth2/*</url-pattern>
    <url-pattern>/admin/*</url-pattern>
    <url-pattern>/resources/*</url-pattern>
    <url-pattern>/auth/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
 

	<!-- Only Allow GET and POST methods to access JSPs -->
  <security-constraint>
		<web-resource-collection>
			<web-resource-name>wxde</web-resource-name>
			<url-pattern>*.jsp</url-pattern>
			<http-method-omission>GET</http-method-omission>
			<http-method-omission>POST</http-method-omission>
		</web-resource-collection>
		<auth-constraint />
	</security-constraint>

	<!-- Only allow GET, POST, PUT, and DELETE methods when accessing application. -->
  <security-constraint>
		<web-resource-collection>
			<web-resource-name>wxde</web-resource-name>
			<url-pattern>/*</url-pattern>
			<http-method-omission>GET</http-method-omission>
			<http-method-omission>POST</http-method-omission>
			<http-method-omission>PUT</http-method-omission>
			<http-method-omission>DELETE</http-method-omission>
		</web-resource-collection>
		<auth-constraint />
	</security-constraint>
    
</web-app>
